#logInSignInDiv {
  display: flex;
}

.profileCard {
  display: flex;
  justify-content: center;
  text-align: center;
}

#viewProfile {
  margin-right: 10px;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

/* Original dimensions: 264x472 */
img {
  width: 132px;
  height: 236px;
}

#loggedInLogOut {
  display: flex;
}

#loggedInAs {
  margin-right: 10px;
}

#logOut {
  cursor: pointer;
}

#navbar {
  padding: 10px;
}

#postArticleSortMethod {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

.flexDirectionColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sortMethodDiv {
  display: flex;
  margin-left: auto;
}

#sortByLabel {
  display: flex;
  align-items: center;
}

#topOfCard {
  display: flex;
  justify-content: space-between;
}

#votesDiv {
  display: flex;
}

.cardAuthor {
  font-size: smaller;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin: 0;
}
#cardTitle {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#bottomOfCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #bottomOfCard i {
  margin-left: auto;
} */

#cardVotes {
  font-size: smaller;
}

#articleSubheading {
  font-size: smaller;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#topicsNav {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}

.card-body {
  display: flex;
  flex-direction: column;
}
.createdAt {
  text-align: right;
  margin: 0;
  font-size: x-small;
}

/* #cardBody {
  margin: 10px;
} */

#cardComments {
  text-align: left;
  margin: 0;
  font-size: x-small;
}

#submitCommentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
