#sortMethodDiv {
  display: flex;
  justify-content: right;
}

#sortMethodDiv label {
  display: flex;
  align-items: center;
}

#topOfCard {
  display: flex;
  justify-content: space-between;
}
#voteArrows {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevron up {
  color: blue;
}

.cardAuthor {
  font-size: smaller;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin: 0;
}
#cardTitle {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#bottomOfCard {
  display: flex;
}

#bottomOfCard i {
  margin-left: auto;
}

#cardVotes {
  font-size: smaller;
}

#articleSubheading {
  font-size: smaller;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#topicsNav {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}

.card-body {
  display: flex;
  flex-direction: column;
}
.createdAt {
  text-align: right;
  margin: 0;
  font-size: x-small;
}

/* #cardBody {
  margin: 10px;
} */

#cardComments {
  text-align: left;
  margin: 0;
  font-size: x-small;
}
